html,body{
    display: flex;
    justify-content: center;
    background-color: darkgrey;
}

#canvas{
    background-color: black;
    border: 1px solid darkblue;
    width:100vw;
    height: 100vh;
}